<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 names">

<!--       <div class="row">
        <div class="name-input">
          <div class="col-md-8">
            <input type="text" class="base-word">
          </div>
          <div class="col-md-4">
            <span class="btn btn-primary btn-lg btn-block">Gimmie a Name</span>
          </div>
        </div>
      </div> -->

      <div class="col-md-6 col-md-offset-3">
        <div class="btn btn-primary btn-lg btn-block">Gimmie a Name</div>
      </div>

      <div class="name-list">
        <div class="col-md-12">
          Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
        </div>
      </div>

    </div>
  </div>
</div>

<div class="name-template html-template">
  <div class="col-md-12">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
</div>